fieldset {
    border: 0;
}

input {
    padding: 1rem;
    min-width: 40vw;
    border-radius: .5rem;
    border: none;
    background: hsla(0, 10%, 90%, 0.7);
    color: var(--charcoal);
    font-size: 1.8rem;
    transition: background 0.2s ease-in-out;
}

input:hover, input:active {
    background: hsla(0, 10%, 100%, 0.8);
}