:root {
  --charcoal: hsla(197, 37%, 24%, 1);
  --teal: hsla(173, 58%, 39%, 1);
  --yellow: hsla(43, 74%, 66%, 1);
  --red: hsla(355, 78%, 60%, 1);
  --cyan: hsla(189, 100%, 92%);
} 

html {
  font-size: 10px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: collapse;
}

td {
  text-align: left;
}

ul {
  list-style: none;
}